In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('train (2).csv')[['Age', 'Pclass', 'Fare', 'Survived']]

In [6]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [7]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test= train_test_split(df.drop(columns='Survived'), df['Survived'], test_size=0.20, random_state=42)

In [10]:
x_train.head()

      Age  Pclass     Fare
331  45.5       1  28.5000
733  23.0       2  13.0000
382  32.0       3   7.9250
704  26.0       3   7.8542
813   6.0       3  31.2750

In [11]:
from sklearn.impute import KNNImputer

In [36]:
knn = KNNImputer()

x_train_tr = knn.fit_transform(x_train)
x_test_tr= knn.transform(x_test)

In [37]:
pd.DataFrame(x_test_tr, columns=x_train.columns)

      Age  Pclass     Fare
0    22.8     3.0  15.2458
1    31.0     2.0  10.5000
2    20.0     3.0   7.9250
3     6.0     2.0  33.0000
4    14.0     3.0  11.2417
..    ...     ...      ...
174  17.0     3.0   7.1250
175  29.5     3.0   7.2250
176  38.0     3.0  31.3875
177  17.0     2.0  10.5000
178   4.0     3.0  16.7000

[179 rows x 3 columns]

In [40]:
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer,SimpleImputer

In [39]:
lr = LogisticRegression()

lr.fit(x_train_tr,y_train)

y_pred = lr.predict(x_test_tr)

accuracy_score(y_test,y_pred)

0.7430167597765364

In [42]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(x_train)
X_test_trf2 = si.transform(x_test)

In [43]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.7374301675977654