In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, MissingIndicator

In [3]:
df= pd.read_csv("data_science_job.csv")

In [4]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index     479
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
training_hours             766
target                       0
dtype: int64

In [11]:
data= df[['company_type', 'city', 'education_level', 'target', 'city_development_index']]

In [12]:
data.head()

     company_type      city education_level  target  city_development_index
0             NaN  city_103        Graduate     1.0                   0.920
1         Pvt Ltd   city_40        Graduate     0.0                   0.776
2             NaN   city_21        Graduate     0.0                   0.624
3         Pvt Ltd  city_115        Graduate     1.0                   0.789
4  Funded Startup  city_162         Masters     0.0                   0.767

In [13]:
data.isnull().mean()*100

company_type              32.049274
city                       0.000000
education_level            2.401086
target                     0.000000
city_development_index     2.500261
dtype: float64

In [14]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(columns=['target']), df['target'], test_size=.20, random_state=2)

In [19]:
si = SimpleImputer()

In [ ]:
x_train= si.fit_transform(x_train)
x_test= si.transform(x_test)

In [21]:
mi = MissingIndicator()

x_train_miss = mi.fit_transform(x_train)
x_test_miss= mi.transform(x_test)

In [24]:
x_train_miss

array([[False, False, False],
       [ True, False, False],
       [ True, False, False],
       ...,
       [ True, False, False],
       [False, False, False],
       [False, False, False]])

In [25]:
x_train[['missing1', 'missing2', 'missing3']]= x_train_miss

In [27]:
x_test[['missing1', 'missing2', 'missing3']]= x_test_miss

In [31]:
from sklearn import set_config
set_config(display='diagram')
clf

NameError: name 'clf' is not defined

In [32]:
from sklearn import set_config

set_config(display='diagram')
clf

NameError: name 'clf' is not defined